{% extends "productos/base.html" %}

{% block titulo %}
  Contacto
{% endblock titulo %}

{% block contenido %}
  <main id="contacto">
    <div class="contacto-1">
      <div>
        <span class="text-secondary">
          E-mail:
        </span>
        chico@chico.com
      </div>
      <div>
        <span class="text-secondary">
          Teléfono:
        </span>
        + 56 9 12345678
      </div>
      <div>
        <span class="text-secondary">
            Dirección
        </span>
        Dirección Viluco #666, Buin
      </div>
    </div>
    
    <hr>

    <div class="contacto-2">
      <form action="#" method="POST">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="telefono" placeholder="Teléfono">
        <input type="text" name="asunto" placeholder="Asunto">
        <textarea name="mensaje" placeholder="Mensaje"></textarea>
        <input type="submit" value="Enviar">
      </form>
    </div>
  </main>
{% endblock contenido %}