{% extends "productos/base.html" %}

{% block titulo %}
  Contacto
{% endblock titulo %}

{% block contenido %}
  <main id="contacto">
    <div class="contacto-1">
      <div>
        <span class="text-secondary">
          E-mail:
        </span>
        chico@chico.com
      </div>
      <div>
        <span class="text-secondary">
          Teléfono:
        </span>
        + 56 9 12345678
      </div>
      <div>
        <span class="text-secondary">
            Dirección
        </span>
        Direccion Viluco #666, Buin
      </div>
    </div>
    
    <div id="map">
      
    </div>
    <!-- <div class="contacto-2">
      <form action="#" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="" placeholder="Teléfono">
        <input type="text" name="" placeholder="Asunto">
        <input type="text" name="" placeholder="Mensaje">
        <input type="submit" value="Enviar">
      </form>
    </div>   -->
  </main>
{% endblock contenido %}