<header>
  <nav class="main-nav">
    <ul>
      <li>
        <a href="{% url 'productos:index' %}" class="nav-link {% if current == 'index' %}current{% endif %}">Inicio</a>
      </li>
      <!-- <li>
        <a href="{% url 'productos:empresa' %}" class="nav-link {% if current == 'empresa' %}current{% endif %}">Quienes somos</a>
      </li> -->
      <li>
        <a href="{% url 'productos:productos' %}" class="nav-link {% if current == 'productos' %}current{% endif %}">Productos</a>
      </li>
      <li>
        <a href="{% url 'productos:contacto' %}" class="nav-link {% if current == 'contacto' %}current{% endif %}">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="nav-btn">
    <div class="nav-line"></div>
    <div class="nav-line"></div>
    <div class="nav-line"></div>
  </div>
</header>

