{% extends "productos/base.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}
  Venta de cosas
{% endblock titulo %}

{% block contenido %}
<main id="inicio">
  <div class="inicio-info">
    <img src="{% static 'productos/images/pic1.jpg' %}" alt="">
    <div>
        <h2>Venta de productos</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis a atque temporibus quas, illum molestias quidem nam necessitatibus eveniet maxime commodi provident voluptate laborum officia voluptates. Expedita dolorum animi deserunt, distinctio eveniet quas sequi harum iusto at id. Nobis voluptatem dolorem quam, consequuntur suscipit non odit eaque magnam labore ratione accusamus mollitia tempora, nam perspiciatis aperiam, id iste eos distinctio molestiae? Magnam quae error officia tempore laborum aliquid quisquam voluptatem excepturi fuga similique corrupti distinctio, hic at ex iusto sit maiores odio totam deleniti mollitia quas et dicta temporibus? Eveniet nobis excepturi adipisci ipsam praesentium iste corporis esse voluptate.</p>
        <a class="main-btn" href="{% url 'productos:productos' %}">Ve nuestros productos</a>
    </div>
  </div>
  <hr>
  <div class="productos">
    <h2>Últimos productos agregados</h2>
    <div class="catalogo">
        {% for producto in productos %}
          <div class="producto">
            <img src="{{ producto.lista_imagenes.all.0.thumbnail.url }}" alt="">
            <h4> {{ producto.nombre }} </h4>
            <p>{{ producto.descripcion }}</p>
            <span class="precio">$ {{ producto.precio|intcomma }}</span>  
          </div>
        {% endfor %}
    </div>
  </div>
</main>
{% endblock contenido %}