{% extends "productos/base.html" %}
{% load humanize %}

{% block titulo %}
  Productos
{% endblock titulo %}

{% block contenido %}
  <main id="productos">
    <h1>Productos</h1>
    <div class="catalogo">
      {% for producto in productos %}
        <div class="producto">
          <img src="{{ producto.lista_imagenes.all.0.imagen.url }}" alt="">
          <h4> {{ producto.nombre }} </h4>
          <p><span>Descripción:</span> {{ producto.descripcion }}</p>
          <span class="precio">$ {{ producto.precio|intcomma }}</span>  
        </div>
      {% endfor %}
    </div>  
  </main>
{% endblock contenido %}