{% extends "productos/base.html" %}

{% block titulo %}
  Productos
{% endblock titulo %}

{% block contenido %}
  {% for producto in productos %}
    <h2> {{ producto.nombre }} </h2>
  {% endfor %}

  <main id="productos">
    <h1>Productos</h1>
    <div class="catalogo">
      <div class="producto">
        <img src="https://source.unsplash.com/random/200x200" alt="">
        <h4>Podadora Eléctrica</h4>
        <p>Modelo</p>
        <p><span>Descripción:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quibusdam.</p>
        <span class="precio">$50.500</span>
      </div>
          
      <div class="producto">
        <img src="https://source.unsplash.com/random/201x200" alt="">
        <h4>Podadora Eléctrica</h4>
        <p>Modelo</p>
        <p><span>Descripción:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, quibusdam.</p>
        <span class="precio">$50.500</span>
      </div>
    </div>  
  </main>
{% endblock contenido %}