$background-color: #5b5151;
$base-color: darken(#fff, 3);
$accent-color: #0391B2;
$shadow: 0 1px 5px rgba(73, 72, 72, 0.8);
$background-opacity: 0.9;
$border-accent: 2px solid $accent-color;
$catalog-width: 150px;


@mixin easeOut($time: 0.5s) {
  transition: all $time ease-out;
}