// Widescreens
// @include mediaXl{
//   .projects {
//       grid-template-columns: repeat(4, 1fr);
//   }
// }

// Desktops & Laptops
// @include mediaLg{
//   .projects {
//       grid-template-columns: repeat(3, 1fr);
//   }
// }

// Tablets & Small Laptops
@include mediaMd{
  header {
    ul {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  main#productos {
    .catalogo {
      grid-template-columns: 1fr;
    }
  }
}

// Smarthones
@include mediaSm{
  
}