// Tablets & Small Laptops
@media screen and (min-width: 501px){
  header {
    width: 100%;

    ul {
      grid-template-columns: repeat(3, 1fr);
    }

    a.nav-link {
      &:active {
        color: $accent-color;
      }
    }

    .nav-btn {
      display: none;
    }
  }

  .catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Desktops & Laptops
@media screen and (min-width: 769px) {
  header {
    a.nav-link {
      &:hover {
        color: $accent-color;
        @include easeOut
      }
    }
  }

  main {
    margin: 2rem;
  }

  #inicio {
    .inicio-info{
      grid-template-columns: repeat(2, 1fr);

      .main-btn {
        &:hover {
          background: $accent-color;
          color: $base-color;
          @include easeOut;
        }
      }
    }
  }

  .catalogo {
    grid-template-columns: repeat(3, 1fr);
    .producto {
      &:hover {
        border: $border-accent;
        @include easeOut(0.1s);
      }
    }
  }

  #contacto {
    .contacto-2 {
      input {
        font-size: 1rem;
  
        &:last-child {
          &:hover {
            background-color: $base-color;
            color: $accent-color;
            @include easeOut;

            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
    height: 120px;
  }
}

// Widescreens
@media screen and (min-width: 1100px) {
  .catalogo {
    grid-template-columns: repeat(4, 1fr);
  }
}