@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'config';

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

h1 {
  color: $accent-color;
  font-weight: 500;
}

// Header
header {
  background: darken($background-color, 20);
  text-align: center;
  border-bottom: $border-accent;
  
  .main-nav {
    transition: max-height 0.5s ease-out;
    max-height: 500px;

    &.hidden {
      max-height: 0;
      overflow: hidden;
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 20px;
    margin-top: 0;
    list-style: none;
  }

  li {
    margin: 2rem 1rem;
  }

  a.nav-link {
    color: $base-color;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: $shadow;

    &.current {
      color: $accent-color;
    }
  }

  .nav-btn {    
    display: inline-block;
    transition: max-height 0.5s ease-out;
    background: darken($background-color, 20);
    padding: 15px 10px 7px 10px;
    margin: 0.5rem 1rem;

    .nav-line {
      border-top: 3px solid $accent-color;
      margin: 0 0 8px 0;
      width: 80px;
      height: 5px;
    }

    &.close {
      background: darken($background-color, 15);
    }
  }
}

// Main
main {
  padding: 1rem;
  margin: 0;
  background: $base-color;
  text-align: center;
  min-height: calc(100vh - 120px);

  hr {
    width: 95%;
    border-bottom: $border-accent;
  }
}

// Inicio
#inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  .inicio-info{
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: $shadow;

    img {
      max-width: 100%;
      box-shadow: $shadow;
    }

    div {
      margin: 20px;

      h2 {
        color: $accent-color;
      }

      p {
        margin-bottom: 1.5rem;
      }

      .main-btn {
        text-decoration: none;
        // background: darken($base-color, 20);
        color: $accent-color;
        box-shadow: $shadow;
        border: $border-accent;
        text-transform: uppercase;
        padding: 10px 20px;
        font-weight: 600;

        &:active {
          color: #fff;
          background-color: $accent-color;
        }
      }
    }  
  }
}


// Productos
.productos {
  h2 {
    color: $base-color;
    background-color: $accent-color;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    padding: 5px;
    margin: 0 0 10px 0;
  }
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  box-shadow: $shadow;
  
  &::before {
    color: $base-color;
    background-color: $accent-color;
    border-radius: 5px 5px 0 0;
    margin: 0;
  }

  .producto {
    padding: 1rem 0.5rem;
    box-shadow: $shadow;
    border-radius: 5px;
  }

  img {
    border: $border-accent;
    border-radius: 5px;
    box-shadow: $shadow;
    max-width: $catalog-width;
  }

  h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.2rem;
    color: $accent-color;
  }

  p {
    margin: 10px;
    font-weight: 200px;
  }

  span {
    font-weight: 400;
    font-size: 1.2rem;

    &.precio {
      color: $accent-color;
      background: #fff;
      padding: 10px;
      box-shadow: $shadow;
      margin: 5px 40px;
      display: block;
    }
  }
}


// Contacto
#contacto {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr;

  .contacto-1 {
    box-shadow: $shadow;
    padding: 10px 0;
    div {
      font-size: 1.2rem;
    }

    .text-secondary {
      color: $accent-color;
      font-size: 2rem;
      display: block;
      margin: 15px 10px;
    }
  }

  .contacto-2 {
    box-shadow: $shadow;
    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 12px;
    }

    input {
      padding: 2px 5px;
      border: $border-accent;
      box-shadow: $shadow;

      font-size: 1.2rem;

      &:nth-child(5){
        height: 7rem;
      }

      &:last-child {
        background-color: $accent-color;
        color: $base-color;
        font-weight: 500;
        text-align: center;
        height: 3rem;
      }
    }
  }
}

// Footer
footer {
  background: darken($background-color, 20);
  text-align: center;
  border-top: $border-accent;
  padding: 10px;

  height: 260px;
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: 1fr;

  h4 {
    color: $accent-color;
    padding: 5px 5px;
    font-weight: 500;
  }

  .section-2 {
    
    div {
      margin: 10px;
    }

    h4 {
      display: inline;
      vertical-align: super;
    }
  }

  i{
    margin: 0 5px;
    padding: 5px 5px;
    color: $accent-color;
  }
}

@import 'mobile';